<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}| Voto digital</title>

    {% load static %}
    
    <link href="{% static 'core/css/global-style.css' %}" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />

    {% block head-extra %}
    <!--Nuevo tag block para agregar mas css-->
    {% endblock %}
</head>
<body>
    {% block content %} {% endblock %}

    <footer>
        {% if request.path != "/" %}<a href="/">&lt;Regresar</a>{% endif %}
        <a href="#">Aviso de privacidad</a>
    </footer>
</body>
</html>