{% extends 'core/base.html' %}

{% load static %}

{% block title %}Boleta digital {% endblock %}

{% block head-extra %}
    <link href="{% static 'core/css/boleta-style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main>
    <h3>Tipos de elección aplicables</h3>
    <p>Completa todas las siguientes secciones para generar tu voto:</p>
    <!-- lista de tipos de elección -->
    <div id="lista-tipo-eleccion">
        <a href="/boletaInside/" class="tipo-eleccion">
            <span class="name-tipo-eleccion">Presidente</span>
            <span class="status">Por completar</span>
        </a>
    </div>
    <!-- Opciones -->
    <p>Hace falta que complete (1) sección para poder generar tu voto.</p>
    <!--<button id="finalizar-btn">Click aquí para generar voto</button>-->
    <a href="/votoQr/" id="finalizar-btn" class="btn btn-success">Click aquí para generar voto.</a>
</main>
{% endblock %}